@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* setup snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GLOBAL STYLES */
/* flex */
.anonymousContainer,
.boardButton,
.footer,
.formContainer,
.formHeadingContainer,
.formMessageContainer,
.formNameContainer,
.formSubmitContainer,
.headerContainer,
.logoContainer,
.mainContainer,
.messageForm,
.newBoardForm {
  display: flex;
}

.anonymousContainer,
.boardButton,
.footer,
.formContainer,
.formHeadingContainer,
.formMessageContainer,
.formNameContainer,
.formSubmitContainer,
.headerContainer,
.logoContainer,
.newBoardForm {
  align-items: center;
}

.anonymousContainer,
.boardButton,
.footer,
.formContainer,
.formHeadingContainer,
.formSubmitContainer,
.headerContainer,
.logoContainer,
.newBoardForm {
  justify-content: center;
}

.formMessageContainer,
.formNameContainer,
.mainContainer {
  justify-content: space-between;
}

.formContainer,
.formHeadingContainer,
.messageForm,
.newBoardForm {
  flex-direction: column;
}

.boardsListContainer,
.logoContainer {
  flex-basis: 25%;
}

.messageBoard,
.titleContainer {
  flex-basis: 75%;
}

/* positioning */
.anonymousCheckbox,
.boardsListHeading,
.headerContainer,
.likeContainer {
  position: relative;
}

.boardsListHeading::after,
.commentLine,
.fa-comment,
.fa-heart,
.likesCount {
  position: absolute;
}

.fa-comment,
.fa-heart {
  bottom: 0;
}

.commentLine,
.likesCount {
  bottom: -1px;
}

/* display */
.commentLine,
.likesCount {
  display: inline;
}

/* sizing */
.footer,
.nameInput,
.submitButton {
  height: 50px;
}

.boardButton,
.boardFormContainer,
.footer,
.formMessageContainer,
.formNameContaine,
.formSubmitContainer,
.messageField,
.newBoardForm {
  width: 100%;
}

.anonymousContainer,
.nameInput,
.submitButton {
  width: 50%;
}

.boardNameInput,
.boardsListHeading,
.boardSubmit {
  width: 90%;
}

.boardNameInput,
.boardSubmit {
  min-width: 200px;
}

/* box model */
.fa-comment,
.fa-heart {
  box-sizing: content-box;
}

.commentList,
.formNameContainer,
h1,
li,
.messagesBoardContainer,
ul {
  padding: 0;
}

.fa-comment,
.fa-heart {
  padding: 2px;
}

.formHeading,
.messageField,
.nameInput {
  padding: 5px;
}

.anonymousLabel,
.anonymousLabel:active,
.anonymousLabel:focus,
.boardButton,
.boardFormContainer {
  padding: 10px;
}

.boardFormContainer,
.boardsListHeading,
.main,
.messageForm {
  padding-bottom: 20px;
}

.boardNameInput,
.messageField,
.nameInput {
  border-radius: 5px;
}

.boardsListContainer,
.formHeadingContainer {
  border-radius: 20px;
}

.boardButton,
.boardButton:focus,
.commentMessageField:hover,
.commentNameInput:hover,
.commentSubmitButton:hover,
.submitButton:focus {
  border: 2px solid #666;
}


.boardNameInput,
.commentListItem,
.messageBoardPost,
.messageField,
.nameInput,
.submitButton {
  border: 2px solid #333;
}

.boardsListContainer,
.commentLine,
.formHeading,
h1,
li,
.likesCount,
.messagesBoardContainer,
.nameInput {
  margin: 0;
}

.anonymousContainer,
.formSubmitContainer {
  margin: 5px;
}

.boardButton,
.commentHead {
  margin: 10px 0;
}

.commentListItem,
.messageBoardPost {
  margin: 20px 0;
}

.boardsListContainer,
.formContainer {
  margin-top: 20px;
}

.boardNameInput,
.formHeadingContainer {
  margin-bottom: 10px;
}

.boardFormContainer,
.formMessageContainer {
  margin-bottom: 20px;
}

.fa-comment:active,
.fa-comment:focus,
.fa-heart:active,  
.fa-heart:focus {
  outline-offset: 2px;
}

.fa-comment:active,
.fa-comment:focus {
  outline: 2px solid #f9f9f9;
}

/* backgrounds */
.boardNameInput,
.commentListItem,
.commentMessageField:hover,
.commentNameInput:hover,
.commentSubmitButton:hover,
.footer,
.messageBoardPost,
.messageField,
.nameInput {
  background-color: #222;
}

.anonymousCheckbox,
header {
  background-color: #232323;
}

.commentMessageField:hover,
.commentNameInput:hover,
.formHeadingContainer:hover,
.messageBoardPost:hover,
.messageField:hover,
.nameInput:hover {
  background-color: #333;
}

.boardButton,
.submitButton {
  background-color: #efefefef;
}

.boardButton:focus,
.boardButton:hover,
.submitButton:focus,
.submitButton:hover {
  background-color: #e3c73c;
}

/* colors */
.fa-comment:focus,
.fa-comment:hover,
.fa-sun,
.formHeading:hover,
h1,
label.anonymousLabel:hover {
  color: #e3c73c;
}

.anonymousLabel,
.boardsListHeading,
.boardNameInput,
.commentListItem,
.createdAtJuno,
.fa-check-square,
.fa-square,
.formHeading,
h2,
.messageBoardPost,
.messageField,
.messagesListHeading,
.nameInput,
.submitButton {
  color: #f9f9f9;
}

.messageHead {
  color: #e0e0e0;
}

.boardButton,
.submitButton {
  color: #333;
}

/* typography */
h1,
h2,
h3 {
  font-family: 'Lora', serif;
}

.commentListItem,
.messageBoardPost,
.messageText {
  font-size: 2.4rem;
}

.boardButton,
.createdAtJuno,
.fa-check-square,
.fa-square,
.submitButton {
  font-size: 2rem;
}

.anonymousLabel,
.boardNameInput,
.commentHead,
.messageField,
.messageHead,
.nameInput {
  font-size: 1.8rem;
}

.commentHead,
.messageHead,
.messageText {
  font-weight: 400;
}

.formHeading,
h2,
h3 {
  font-weight: 500;
}

.boardButton,
h1,
.submitButton {
  font-weight: 700;
}

.boardsListHeading,
.createdAtJuno,
.formHeading,
h1,
h2,
h3,
.messagesListHeading {
  text-align: center;
}

/* misc */
.anonymousLabel,
.boardButton,
.commentHeading,
.commentLine,
.createdAtJuno,
.fa-check-square,
.fa-comment,
.fa-heart,
.fa-square,
.formHeading,
.submitButton {
  cursor: pointer;
}

/* END OF GLOBAL STYLES */

/* UTILITY CLASSES */
.wrapper {
  width: 85%;
  max-width: 1250px;
  margin: 0 auto;
}

/* initial styling before expandedForm */
.commentForm,
.messageForm {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s ease;
  visibility: hidden;
}

/* expands commentForm and messageForm */
.expandedForm {
  height: auto;
  overflow: visible;
  opacity: 1;
  visibility: visible;
}

.disabled {
  color: #444;
  border: 2px solid #222;
}

.mobileOnly {
  display: none;
}

/* END OF UTILITY CLASSES */

/* SEMANTIC TAG STYLES */
html {
  font-size: 62.5%;
}

body {
  background-color: #191919;
  font-family: 'Raleway', sans-serif;
}

header {
  border-bottom: 1px solid #333;
}

h1 {
  font-size: 6rem;
  text-shadow: 0 0 4px #111;
}

h2,
h3 {
  font-size: 3rem;
}

ul {
  margin: 20px;
}

li {
  list-style: none;
}

button,
input {
  font-family: 'Raleway', sans-serif;
}

/* END OF SEMANTIC TAG STYLES */

/* CLASSES */
.main {
  min-height: calc(100vh - 205px);
}

.headerContainer {
  height: 150px;
}

.boardsListContainer {
  padding: 20px 10px;
  height: min-content;
}

.boardsListHeading {
  font-size: 4rem;
  border-bottom: 2px solid #666;
  margin: 0 auto 40px;
  z-index: 10;
}

.boardsListHeading::after {
  content: '';
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #666;
  bottom: -20px;
  left: calc(50% - 10px);
  z-index: -10;
}

.boardFormContainer {
  border-bottom: 2px solid #333;
  transition: opacity 1s ease;
}

.boardNameInput {
  padding: 15px;
}

.formHeadingContainer {
  padding: 15px 25px 18px;
}

.formHeading {
  line-height: 1;
}

.formHeading:focus {
  outline: 2px solid #666;
}

.formHeading:hover {
  text-shadow: 0 0 2px #111;
}

.formNameContainer {
  margin: 0 0 20px;
}

.messageForm {
  width: 70%;
}

.anonymousLabel {
  margin-right: 10px;
}

.anonymousCheckbox {
  height: 20px;
  width: 20px;
  left: -20px;
  z-index: 20;
  opacity: 0;
}

.anonymousLabel:active,
.anonymousLabel:focus {
  outline: 3px solid;
}

.messageField {
  height: 100px;
  resize: none;
}

.messagesBoardContainer {
  flex-basis: 80%;
}

.messagesListHeading {
  font-size: 4rem;
  margin-top: 0;
}

.messageBoardPost {
  border-radius: 20px 20px 20px 0;
  overflow: hidden;
  padding: 20px;
}

.messageHead {
  margin: 5px 0;
}

.messageText {
  letter-spacing: .3px;
  line-height: 1.5;
}

.likeContainer {
  height: 30px;
}

.likesCount {
  left: 35px;
  line-height: 1.15;
}

.commentLine {
  left: 140px;
}

/* fontawesome styles */
/* these classes are auto-generated by fontawesome, which is why they do not follow camelCase */
.fa-sun {
  font-size: 8rem;
}

.fa-heart {
  color: #f84a2f;
}

.fa-heart:focus,
.fa-heart:active {
  outline: 2px solid #f84a2f;
}

.fa-comment {
  color: #f9f9f9;
  left: 100px;
}
/* end of font awesome styles */

.commentFormNameContainer {
  margin-top: 30px;
}

.commentList {
  margin: 20px 0 0;
}

.commentListItem {
  border-radius: 10px 10px 10px 0;
  padding: 10px 20px 20px;
  margin-left: 20px;
}

.commentListItem:hover {
  border: 2px solid #666;
}

.createdAtJuno {
  text-decoration: none;
}

.createdAtJuno:hover {
  color: #ea593e;
}

.temporaryHidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .submitButton {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }

  h1 {
    font-size: 3.8rem;
  }

  .headerContainer {
    justify-content: space-between;
  }

  .logoContainer {
    flex-basis: auto;
  }

  .titleContainer {
    flex-basis: 100%;
  }

  .fa-sun {
    font-size: 6rem;
  }

  .submitButton {
    width: 100%;
  }

  .mainContainer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .boardsListHeading {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .boardsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    transition: opacity 1s ease;
  }

  .boardButton {
    margin: 0;
    height: 100%;
  }

  .mobileOnly {
    display: inline;
  }
  
  .commentHeading {
    cursor: pointer;
  }

  .boardsListHeading::after {
    border-top: 15px solid #666;
    bottom: -15px;
  }

  .boardFormContainer {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 95%;
  }

  .anonymousContainer,
  .nameInput,
  .submitButton {
    width: 100%;
  }
  
  .headerContainer {
    height: 80px;
  }

  .fa-sun {
    font-size: 4rem;
  }

  h1 {
    font-size: 3rem;
  }

  .messageForm {
    width: 90%;
  }

  .boardsList {
    grid-template-columns: repeat(2, 1fr);
  }

  .boardsListHeading,
  .formHeading,
  .messagesListHeading {
    font-size: 2.6rem;
  }

  .boardsListContainer {
    padding-bottom: 0;
  }

  .formHeadingContainer {
    padding: 10px 25px;
  }

  .messagesBoardContainer > ul {
    margin: 10px;
  }

  .commentHeading,
  .messageText {
    font-size: 2rem;
  }

  .formNameContainer {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .anonymousContainer {
    margin-top: 20px;
  }

  .likeContainer {
    height: min-content;
  }

  .fa-heart {
    font-size: 2rem;
    top: 0;
    left: 10px;
  }

  .fa-comment {
    font-size: 2rem;
    bottom: 0;
    left: 10px;
  }

  .likesCount {
    font-size: 2rem;
    bottom: 0;
    position: static;
    display: block;
    margin: 10px 40px;
  }

  .commentLine {
    font-size: 2rem;
    bottom: 0;
    position: static;
    display: block;
    margin-left: 40px;
  }

  .createdAtJuno {
    font-size: 1.8rem;
    padding: 5px 20px;
  }
}

@media (max-width: 375px) {
  .boardsList {
    grid-template-columns: 1fr;
  }

  .submitButton {
    font-size: 2rem;
    font-weight: 400;
  }
}